registry=https://registry.npmjs.org/
@nitidbit:registry=https://npm.pkg.github.com/nitidbit
@bedsider-org:registry=https://npm.pkg.github.com/bedsider-org
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
